@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@keyframes fadeInAnimation{
	0% {
	opacity: 0;
   }
	100% {
   	opacity: 1;
   }
}

html{
	font-family: "Plus Jakarta Sans", sans-serif;
}

body{
	background-color: black;
	color: white;
	text-align:center;
}

#heading{
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
    animation-fill-mode: forwards;
	font-size: 200px;
	background: radial-gradient(circle, #d0d0d0 0%, #000000 100%);
	background-clip: text;
	color: transparent;
}			

#userName{
	font-size: 50px;
	opacity: 0;
	animation: fadeInAnimation ease 2s 1s;
	animation-fill-mode: forwards;
}

